.shop{
    height: 1300px;
    margin-top: 200px;
}
.buttom{
    text-align: center;
}
.wrapper{
    text-align: center;
    margin-top: 200px;
    height: 600px;
    margin-left: 700px;
}
.wrapper2{
    text-align: center;
    margin-top: 200px;
    height: 1100px;
    margin-left: 700px;
    width: 300px;
}
.welcome{
    text-align: center;
    margin-top: 200px;
    height: 600px;

}
.welcome2{
    text-align: center;
    margin-top: 200px;
    height: 600px;

}
.war{
   
    margin-top: 200px;
    height: 600px;

   
}
.war1{
   text-align: center;
    margin-top: 200px;
    height: 1000px;
    margin-left: 0px;

   
}
.war2{
    text-align: center;
   width: 200px;
    margin-top: 200px;
    height: 1000px;
    margin-left: 750px;
   
}
.war3{
   text-align: center;
    margin-top: 200px;
    height: 1000px;
    margin-left: 0px;
   
}
.table1{
    margin-top: 100px;
    height: 700px;
}
